<%- include('../partials/header') %>

<form action="/channel" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name"/>
    <label for="description">Description:</label>
    <input type="text" name="description" id="description"/>
    <button type="submit">Submit</button>
</form>

<%- include('../partials/dependencies') %>
<%- include('../partials/footer') %>